{% extends 'base.html.twig' %}

{% block title %}Búsqueda de Productos{% endblock %}

{% block body %}
    <div class="container">
        <div {{ stimulus_controller('alert') }}>
            {{ component('ProductSearchComponent') }}
        </div>
    </div>
{% endblock %}
